*{
    margin: 0;
    padding: 0;
}

main{
    margin-top:25px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}


.nav{

 display: flex;
 margin-top: 15px;
 justify-content: space-between;
 margin-left: 20px;
 
} 

.buscador{

    margin-left: 100vh;
}

.buscador>.input-group>input{
    border: 0.5px solid;
    border-radius: 20px;
    border-color: rgb(236, 234, 234);
    display: flex;
    text-align: center;

}

.buscador>.input-group>.input2{
    display: flex;
    text-align: center;
   
}


.buscador>.input-group>button{
    border-radius: 15px;
    color: #eb5757;
    font-size: 20px;
    
}

.titulo{
    display: flex;
    margin-top: 5rem;
}

.stays{
    margin-left: 140vh;
    color: dimgray;
}

.imagenes{
    width: 23rem;
    height: 16rem;
    border-radius: 15px;
}

.cards{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
}

.cardContainer{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    color:dimgray;
}

.cardContainer>.rating{
    display: flex;
    color: #eb5757;
    gap: 6px;
}

.numRating{
    color: dimgray;
}


.titulos{
    font-weight: bold;
}