*{
    margin: 0;
    padding: 0;
}



.card {
  width: 25rem;
  height: 30rem;
  border: none;
}

.indice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (max-width: 480px) {
  .indice {
    width: 20rem;
    height: 25rem;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .indice {
    width: 20rem;
    height: 25rem;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 20rem;
    height: 25rem;
  }
}

@media (max-width: 480px) {
  .card {
    width: 15rem;
    height: 20rem;
  }
}


main{
    margin-top:25px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}



.nav{

 display: flex;
 margin-top: 15px;
 justify-content: space-between;
 margin-left: 20px;
 
} 

.buscador{

    margin-left: 100vh;
}

.buscador>.input-group>input{
    border: 0.5px solid;
    border-radius: 20px;
    border-color: rgb(236, 234, 234);
    display: flex;
    text-align: center;

}

.buscador>.input-group>.input2{
    display: flex;
    text-align: center;
   
}


.buscador>.input-group>i{
    border-radius: 15px;
    color: #eb5757;
    font-size: 20px;
    padding-left: 7px;
    padding-top: 4px;
    cursor: pointer;
}



.titulo{
    display: flex;
    margin-top: 5rem;
}

.stays{
    margin-left: 140vh;
    color: dimgray;
}

.imagenes{
    width: 23rem;
    height: 16rem;
    border-radius: 15px;
    cursor: pointer;
}

.cards{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  
}

.cardContainer{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    color:dimgray;
}

.superhost > p{

    border: 1px solid;
    border-radius: 8px;
    font-size: 13px;
    padding: 2px;

}

.cardContainer>.rating{
    display: flex;
    color: #eb5757;
    gap: 6px;
}

.numRating{
    color: dimgray;
}


.titulos{
    font-weight: bold;
}



.modal{
    display: flex;
    width: 100%;
    height: 60%;
    position: absolute;
    border: solid 2px;
    background-color: white;
    box-shadow:  0px 250px 600px 150px rgba(3, 3, 3, 0.4);
    flex-direction: column;
    z-index: 999;
}

.navModal>label{
    display: flex;
    flex-direction: column;


}

.navModal{
   display: flex;
   justify-content: center;
   gap: 12rem;
   margin-top: 2rem;
}

.navModal > div:not(:last-child){
    display: flex;
    flex-direction: column;
    
}

.inputLocation{

    width: 33%;
    border-radius: 15px;
    padding: 5px;
}

.inputLocation > p {
    position: absolute;
    padding-left: 10px;
    padding-top: 3px;
    margin-bottom: 8px;
    margin-left: 12px; 
    font-size: 12px;
    
}

.inputLocation > input {
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 15px;


}

.inputLocation:focus-within{
    outline: 1px solid black;
    border-radius: 15px;
}

.inputGuest > p {
  margin-bottom: -12px;
  margin-left: 12px; 
  font-size: 12px; 
}

.inputGuest > input {
    height: 60px;
    border-radius: 15px;
    border: none;
    position:relative;
    background-color: transparent;
    
}

.inputGuest:focus-within{
    outline: 1px solid black;
    border-radius: 15px;
}

.searchBtn{
    background-color: #eb5757;
    color: white;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    font-size: 17px;
}

.opciones{
    margin-top: 10px;
    margin-left: 80px;
}

.opciones > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.opciones > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;

}


.opcionesGuests{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 500px;
    margin-top: 15px;
}


.opcionesGuests>div{
    display: flex;
    
    

}

.opcionesGuests > .info {
    margin-right: 70px;
}

.opcionesGuests > .info2 {
    margin-right: 50px;
}

.opcionesGuests > .info > small{
    color: darkgray;
    position: absolute;
    margin-top: 20px;

}

.opcionesGuests > .info2 > small{
    color: darkgray;
    position: absolute;
    margin-top: 20px;
}

.opcionesGuests > .contador {
    display: flex;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    

}

.opcionesGuests > .contador > button{

    width: 40px;
    border-radius: 8px;
    border-color: darkgray;
    color: rgb(107, 104, 104);
    background-color: transparent;
    
}